.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main{
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: grey;
  font-size: small;
  text-align: center;
}

footer{
  padding: 2px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: red;
  font-size: small;
  text-align: center;
}
